@import "../base/variables";
@import "../base/media";

main{
    .fondo {
        background-image: url(../img/fondo\ index.jpg);
        @extend %fondo;
        background-attachment: fixed;
        @include tamaño (100%, 80vh);
    
        p{
            width: 30%;
            margin-top: 70px;
            align-items: center;
            text-align: center;
            display: grid;
            grid-template-rows: auto;
            columns: center;
            &:hover{
                transition: 3s;
                transform: translateX(470px);
                font-family: map-get($tarjeta, borde );
                background-color: black;
                color: white;
            }
        }
        h3{
            @include tamaño (100%, auto);
            @extend %flexbox;
            font-size: 50px ;
            font-family: Georgia, 'Times New Roman', Times, serif;
            
        }
    }
    form{
        background-color:$color-principal;
        .tituloReserva{
            color: chocolate;
            font-size: 25px;
            font-style: initial;
            text-decoration:underline;
        }
        .reserva{
            display: inline-block;
            .reservaRapida{
                padding: 15px;
                background-color: goldenrod;
            }
        }
    }
    .hero{
        align-items: center;
        text-align: center;
        background-color: $color-principal;
        color:black;
        text-decoration-line: underline;
        div{
            display: inline-block;
            text-align: center;
            margin: 20px;
            border: map-get($tarjeta, borde) ;
            border-radius: 10px;
            justify-content: space-around;
            a{
                text-decoration: none;
                background-color: darkgoldenrod;
                
            }
        }
    }
    .titulocabania{
        @include letra (center ,30px, normal );
        color: black;
        text-decoration: underline;
        background-color: $color-cabanias;
    }
    .cabaniasParaelegir{
        background-color:$color-cabanias;
        align-items: center;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(2, 1fr);
        div{
            border:solid;
            align-items: center;
            object-fit: cover;
            p{
                @include letra (center, 20px, oblique);
                margin: auto;
            }
            a{
                text-decoration: none;
                background-color:$color-cabanias;
                width: auto;
                padding: 10px ;
                color: indigo;
                display: flex;
                justify-content: center;
                transition: 1s;
                &:hover{
                    background-color: red;
                }
            }
            img{
                @include tamaño (100%, 300px);
                object-fit: cover;
                display: flex;
                justify-content: center;
            }
        }
    }
    .nosotros{
        background-image: url(../img/fondo\ nosotros.jpg);
        @extend %fondo;
        img{
            @include tamaño (450px, 400px);
            display: flex;
            justify-content: center;
            }
        div{
                @extend %flexbox;
                gap: 10px;
                display: grid;
                grid-template-rows: 200px 200px;
                grid-template-columns: 50% 50%;
                grid-row-gap: 20px;
                grid-column-gap: 20px;
            }
        p{
                font-size: large;
                text-align: justify;
                color:white;
                margin-top: 100px;
                transition: 3s;
                transform: translateX(-200px);
            }
        h2{
                color: $color-principal;
                text-decoration:solid;
                background-color: black;
                width:fit-content;
                display: flex;
                justify-content: center;
            }        
    }
    .servicios{
        background-color: $color-secundario; 
        h2{
            text-align: center;
            font-style:oblique;
            text-decoration: underline;
            background-color: black;
            color: darkgoldenrod;
        }
        div{
            display: inline-block;
            text-align: center;
            margin: 30px;
            border: map-get($map: $tarjeta, $key: borde);
            border-radius: 10px;
            img{
                @include tamaño (200px, 200px);
                padding: 30px;
            }
            p{
                @include letra (center, 20px, italic)
            }
            &:hover{
                transform: scale(1.1);
            }
        }
        
    }
    .contacto{
        background-image: url(../img/pexels-carlos-torres-11680560.jpg);
        background-size: cover;
        h2{
            @include letra (center, 40px, oblique);
            color: black;
            text-decoration:underline;
            }
        .contactoFormulario{
                font-size: 20px;
                padding: 35px;
                @include tamaño (auto, auto);
                @extend %fondo;
                div{
                    display: inline-block;
                    padding: 25px;
                    margin: auto;
                }
            }
    }
    .tituloAct{
        background-image: url(../img/playa.jpg);
        @extend %fondo;
        @include letra (center, 30px, normal);
        text-decoration: transparent;
    }
    .actividades{
        width: 100%;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 350px;
        gap: 10px;
        background-image: url(../img/fondo\ act.jpg);
        @extend %fondo;
        .img7{
            grid-row: span 2;
        }
        .img6{
            grid-column: span 2;
        }
        .img4{
            grid-column:  span 2;
        }
        .img2{
            grid-column: span 2;
        }
        div{
                position: relative;
            p{
                text-align: center;
                font-family: map-get($map: $tarjeta , $key: fuente );
                position: absolute;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0.26);
                color: white;
            }
            img{
                @include tamaño (100%, 100%);
                margin-top: 40px;
                object-fit: cover;
                border: 5px;
                border-style: double;
                background-position: center;
            }
        
        }
    }
}















