
@media screen and (max-width:750px) {
    main .actividades {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 350px;
        
    }
    
}

@media screen and (max-width: 550px) {
    main .actividades{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 300px;
        .img3{
            grid-column: span 2;
        }
        .img5{
            grid-column: span 2;
        }
        .img8{
            grid-column: span 2;
        } 
    }
    
}

@media screen and (max-width: 550px) {
    footer div iframe{
        height: 100px;
        width: 100px;
    }
    
}

@media screen and (max-width: 550px) {
    .nudo ul {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        li{
            margin-top: 5px;
        }
    }
    
}
@media screen and (max-width: 600px) {
    main .cabaniasParaelegir{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 750px) {
    .contacto .contactoFormulario div{
        display: flex;
        flex-direction: column;
    }
    
}

@media screen and (max-width: 865px) {
    main section form .reserva{
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        justify-content: right;
    }
}

@media screen and (max-width: 450px) {
    .redessociales{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    .atencion{
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .fondo p{
            display: flex;
            justify-content: center;
    } 

}

@media screen and (max-width:700px) {
    .nosotros h2{
        display: flex;
        justify-content: center;
        align-items: baseline;
        text-align: center;
    } 
}
@media screen and (max-width: 650px) {
    .nosotros div img{
        display: none;

    }
    
}
@media screen and (max-width: 649px) {
    .nosotros div p{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: black;
        color: $color-principal;
        margin-left: 380px;
        margin-bottom: 50px;
        align-items: center;
    }
    
}
@media screen and (max-width: 500px) {
    .nosotros div p{
        margin-left: none;
        margin-top: none;
        width: 80vh;
    }
    
}
@media screen and (max-width: 1000px){
    .hero div{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px;
        }
    }
    
@media screen and (max-width: 900px) {
    form .reserva label input{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    .formulario .contactoFormulario div 
    {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    .servicios div {
        display: grid;
        grid-template-rows:auto ;
        grid-template-columns:repeat(4, 1fr ) ;
    }
}

@media screen and (max-width: 900px) {
    .servicios div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 700px) {
    .servicios div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
}

@media screen and (max-width: 500px) {
    .servicios div  {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}

